<div class="mdc-dialog" id="add-points-dialog">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="Add Points Dialog"
      aria-describedby="Choose the amount of points to add to the student.">
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title"><!--
     -->Add Points to <%=student.first_name%> <%=student.last_name%><!--
   --></h2>
      <div class="mdc-dialog__content">

        <div class="text-center">
          <button class="mdc-button mdc-button--raised margin-vertical__small" onclick="points.add.menu.open = true;">
            <span class="mdc-button__label">Presets</span>
          </button>
          <div class="mdc-menu-surface--anchor">
            <div class="mdc-menu mdc-menu-surface" id="add-points-menu">
              <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">

                <% for (let i = 0; i < presets.add.length; i++) { %>
                  <li class="mdc-list-item" role="menuitem" data-amount="<%= presets.add[i].amount%>" data-reason="<%= presets.add[i].reason ?? presets.add[i].name %>">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text"><%= presets.add[i].name %></span>
                  </li>
                <% } %>

              </ul>
            </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined" id="add-points-count">
            <input class="mdc-text-field__input text-field-shaped__input" id="add-points-count-text-field" type="number" min="0">
            <div class="mdc-notched-outline">
              <div class="text-field-shaped__leading mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch text-field-shaped__notch">
                <label for="add-points-count-text-field" class="mdc-floating-label">Points to Add</label>
              </div>
              <div class="text-field-shaped__trailing mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="mdc-chip-set mdc-chip-set--choice padding-vertical__small" id="add-points-chip-set">
            <% for (let i = 0; i < pointChips.length; i++) { %>
              <div class="mdc-chip mdc-ripple-upgraded" role="row" onclick="chipPointChange('add', <%=pointChips[i]%>);">
                <span role="button" tabindex="0" class="mdc-chip__text"><%=pointChips[i]%> Points</span>
              </div>
            <% } %>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined" id="add-points-reason">
            <input class="mdc-text-field__input text-field-shaped__input" id="add-points-reason-text-field">
            <div class="mdc-notched-outline">
              <div class="text-field-shaped__leading mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch text-field-shaped__notch">
                <label for="add-points-reason-text-field" class="mdc-floating-label">Reason</label>
              </div>
              <div class="text-field-shaped__trailing mdc-notched-outline__trailing"></div>
            </div>
          </div>

        </div>

      </div>
      <div class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button mdc-button--raised" data-mdc-dialog-action="close">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Cancel</span>
        </button>
        <button type="button" class="mdc-button mdc-dialog__button mdc-button--raised" data-mdc-dialog-action="accept">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Add</span>
        </button>
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
