<div class="mdc-dialog" id="remove-points-dialog">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="Remove Points Dialog"
      aria-describedby="Choose the amount of points to remove from the student.">
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title"><!--
     -->Remove Points from <%=student.first_name%> <%=student.last_name%><!--
   --></h2>
      <div class="mdc-dialog__content">

        <div class="text-center">
          <button class="mdc-button text-center" onclick="removePointsMenu.open = true;">
            <span class="mdc-button__label">Presets</span>
          </button>
          <div class="mdc-menu-surface--anchor">
            <div class="mdc-menu mdc-menu-surface" id="remove-points-menu">
              <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">

                <% for (let i = 0; i < presets.remove.length; i++) { %>
                  <li class="mdc-list-item" role="menuitem" data-amount="<%= presets.remove[i].amount%>" data-reason="<%= presets.remove[i].reason ?? presets.remove[i].name %>">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text"><%= presets.remove[i].name %></span>
                  </li>
                <% } %>

              </ul>
            </div>
          </div>
        </div>

        <div class="mdc-slider mdc-slider--discrete mdc-slider--tick-marks" id="remove-points-slider">
          <input class="mdc-slider__input" type="range" min="<%= slider.min %>" max="<%= slider.max %>" value="<%= slider.defaultValue %>" name="points" step="<%= slider.steps %>" aria-label="Add points to student slider">
          <div class="mdc-slider__track">
            <div class="mdc-slider__track--inactive"></div>
            <div class="mdc-slider__track--active">
              <div class="mdc-slider__track--active_fill"></div>
            </div>
            <div class="mdc-slider__tick-marks">

              <% for (let i = 0; i < slider.ticks; i++) { %>
                <div class="mdc-slider__tick-mark--active"></div>
              <% } %>

            </div>
          </div>
          <div class="mdc-slider__thumb">
            <div class="mdc-slider__value-indicator-container" aria-hidden="true">
              <div class="mdc-slider__value-indicator">
                <span class="mdc-slider__value-indicator-text">
                  <%= slider.defaultValue %>
                </span>
              </div>
            </div>
            <div class="mdc-slider__thumb-knob"></div>
          </div>
        </div>

        <div class="mdc-text-field mdc-text-field--outlined" id="remove-points-reason">
          <input class="mdc-text-field__input text-field-shaped__input" id="remove-points-reason-text-field">
          <div class="mdc-notched-outline">
            <div class="text-field-shaped__leading mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch text-field-shaped__notch">
              <label for="remove-points-reason-text-field" class="mdc-floating-label">Reason</label>
            </div>
            <div class="text-field-shaped__trailing mdc-notched-outline__trailing"></div>
          </div>
        </div>

      </div>
      <div class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Cancel</span>
        </button>
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Remove</span>
        </button>
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
